In [6]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [2]:
'''Here we are defining Hypothesis testing on data to find if male-female buyer rations are similar across regions.
In this case we used Chi-square test.
So, we define two hypothesis...
1. Null hypothesis- H0: there is no relation between the variables
2. Alternative hypothesis- H1: there is significant relation between two variables'''

'Here we are defining Hypothesis testing on data to find if male-female buyer rations are similar across regions.\nIn this case we used Chi-square test.\nSo, we define two hypothesis...\n1. Null hypothesis- H0: there is no relation between the variables\n2. Alternative hypothesis- H1: there is significant relation between two variables'

In [5]:
data=pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [8]:
# Make dimensional array
data1=np.array([[50,142,131,70],[435,1523,1356,750]])
data1

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [30]:
stat,p,dof,expected=chi2_contingency(data1)
print("Chi2 stats value is :",stat,
     "\nP-vlaue is :",p,
     "\nDegree of Freedom is :",dof,
     "\nExpected value is :",expected)

Chi2 stats value is : 1.595945538661058
P-vlaue is : 0.6603094907091882
Degree of Freedom is : 3
Expected value is : [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [29]:
#interpret p value

alpha=0.05
print("P-value is :" + str(p))
if p<=alpha:
    print('Dependent(reject H0)')
else:
    print('Independent(H0 holds true)')

P-value is :0.6603094907091882
Independent(H0 holds true)

In [ ]:
'''As we can see that the p value is greater than alpha value
So,we fail to reject Null Hypothesis 
Which means that there is no relation between the variables.'''