In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
'''Here we are defining Hypothesis testing on data that whether there is any difference in the average Turn Around Time (TAT) 
of reports of the laboratories on their preferred list.
So, we define two hypothesis...
1. Null hypothesis- H0: μl1=μl2=μl3=μl4
2. Alternative hypothesis- H1: at least one mean is different'''

'Here we are defining Hypothesis testing on data that whether there is any difference in the average Turn Around Time (TAT) \nof reports of the laboratories on their preferred list.\nSo, we define two hypothesis...\n1. Null hypothesis- H0: μl1=μl2=μl3=μl4\n2. Alternative hypothesis- H1: at least one mean is different'

In [4]:
df=pd.read_csv('LabTAT.csv')
df.head(10)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12
6        191.37        166.36        214.21        154.02
7        166.81        169.60        183.43        163.25
8        158.81        175.36        191.60        152.79
9        165.88        198.68        208.43        161.98

In [5]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [6]:
x=p_value[1]
x

2.1156708949992414e-57

In [7]:
a=0.05 # alpha value

print(x)
print("P-value is :",round(x,3))
if x>a:
     print(f'Fail to reject Null Hypothesis\n')
else:
    print(f'Reject Null Hypothesis\n')

2.1156708949992414e-57
P-value is : 0.0
Reject Null Hypothesis

In [8]:
'''As we can see that the p value is smaller than alpha value
So,we reject Null Hypothesis 
Which means that the mean of TAT of laboratories is different'''

'As we can see that the p value is smaller than alpha value\nSo,we reject Null Hypothesis \nWhich means that the mean of TAT of laboratories is different'