In [7]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [8]:
'''Here we are defining Hypothesis testing on data that the manager wants to check whether the defective %  varies by centre..
In this case we used Chi-square test.
So, we define two hypothesis...
1. Null hypothesis- H0: there is no relation between the variables
2. Alternative hypothesis- H1: there is significant relation between two variables'''

'Here we are defining Hypothesis testing on data that the manager wants to check whether the defective %  varies by centre..\nIn this case we used Chi-square test.\nSo, we define two hypothesis...\n1. Null hypothesis- H0: there is no relation between the variables\n2. Alternative hypothesis- H1: there is significant relation between two variables'

In [9]:
df=pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [10]:
print(df['Phillippines'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [11]:
print(df['Indonesia'].value_counts())

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [12]:
print(df['Malta'].value_counts())

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [13]:
print(df['India'].value_counts())

Error Free    280
Defective      20
Name: India, dtype: int64

In [16]:
data=np.array([[271,267,269,280],[29,33,31,20]])
data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [17]:
stat,p,dof,expected=chi2_contingency(data)
print("Chi2 stats value is :",stat,
     "\nP-vlaue is :",p,
     "\nDegree of Freedom is :",dof,
     "\nExpected value is :",expected)

Chi2 stats value is : 3.858960685820355
P-vlaue is : 0.2771020991233135
Degree of Freedom is : 3
Expected value is : [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [18]:
#interpret p value

alpha=0.05
print("P-value is :" + str(p))
if p<=alpha:
    print('Dependent(reject H0)')
else:
    print('Independent(H0 holds true)')

P-value is :0.2771020991233135
Independent(H0 holds true)

In [ ]:
'''As we can see that the p value is greater than alpha value
So,we fail to reject Null Hypothesis 
Which means that there is no relation between the variables.'''